<a href="https://colab.research.google.com/github/jonnie763/DATA-690-WANG/blob/master/Jonathan_Rius_Session_03_Practice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Requirements** 
1. To come up with a list of people's first name. 
2.  find out how many people are in the class 

**hint**:use split(), specify delimiter to seperate people 
use split, specify a different demiliter to seperate first and last name

Wang, Chaojie; Seelam, Arjun Reddy; Rius, Jonathan; Liang, Jinqing; Chowdhury, Debanjan; Maszkiewicz, Lori; Negussie, Neftalem; Steinruck, Michaella; Phogat, Shreshta; Fatima, Misha; Hirabayashi, Scott; Soroush, Masoud; Bolz, Jessica; Mbu Nyamsi, Tchuissi; Dokuzoglu, Yuksel; Gogineni, Shailesh; Pabbisetty, Sai Vinay; Preis, Liam; Jyesta, Vishnu Priya; Narne, Yoshita; Boban, Shruthi; Oberoi, Ashreen Kaur; Cohens, Nashika; Noppinger, Ken; Kakani, Goutham; Hayo, Alyssa

In [ ]:
people_string ="Wang, Chaojie; Seelam, Arjun Reddy; Rius, Jonathan; Liang, Jinqing; Chowdhury, Debanjan; Maszkiewicz, Lori; Negussie, Neftalem; Steinruck, Michaella; Phogat, Shreshta; Fatima, Misha; Hirabayashi, Scott; Soroush, Masoud; Bolz, Jessica; Mbu Nyamsi, Tchuissi; Dokuzoglu, Yuksel; Gogineni, Shailesh; Pabbisetty, Sai Vinay; Preis, Liam; Jyesta, Vishnu Priya; Narne, Yoshita; Boban, Shruthi; Oberoi, Ashreen Kaur; Cohens, Nashika; Noppinger, Ken; Kakani, Goutham; Hayo, Alyssa"
print(people_string)

Wang, Chaojie; Seelam, Arjun Reddy; Rius, Jonathan; Liang, Jinqing; Chowdhury, Debanjan; Maszkiewicz, Lori; Negussie, Neftalem; Steinruck, Michaella; Phogat, Shreshta; Fatima, Misha; Hirabayashi, Scott; Soroush, Masoud; Bolz, Jessica; Mbu Nyamsi, Tchuissi; Dokuzoglu, Yuksel; Gogineni, Shailesh; Pabbisetty, Sai Vinay; Preis, Liam; Jyesta, Vishnu Priya; Narne, Yoshita; Boban, Shruthi; Oberoi, Ashreen Kaur; Cohens, Nashika; Noppinger, Ken; Kakani, Goutham; Hayo, Alyssa

In [ ]:
txt = "Wang, Chaojie; Seelam, Arjun Reddy; Rius, Jonathan; Liang, Jinqing; Chowdhury, Debanjan; Maszkiewicz, Lori; Negussie, Neftalem; Steinruck, Michaella; Phogat, Shreshta; Fatima, Misha; Hirabayashi, Scott; Soroush, Masoud; Bolz, Jessica; Mbu Nyamsi, Tchuissi; Dokuzoglu, Yuksel; Gogineni, Shailesh; Pabbisetty, Sai Vinay; Preis, Liam; Jyesta, Vishnu Priya; Narne, Yoshita; Boban, Shruthi; Oberoi, Ashreen Kaur; Cohens, Nashika; Noppinger, Ken; Kakani, Goutham; Hayo, Alyssa"

x = txt.split(",")

print(x)

['Wang', ' Chaojie; Seelam', ' Arjun Reddy; Rius', ' Jonathan; Liang', ' Jinqing; Chowdhury', ' Debanjan; Maszkiewicz', ' Lori; Negussie', ' Neftalem; Steinruck', ' Michaella; Phogat', ' Shreshta; Fatima', ' Misha; Hirabayashi', ' Scott; Soroush', ' Masoud; Bolz', ' Jessica; Mbu Nyamsi', ' Tchuissi; Dokuzoglu', ' Yuksel; Gogineni', ' Shailesh; Pabbisetty', ' Sai Vinay; Preis', ' Liam; Jyesta', ' Vishnu Priya; Narne', ' Yoshita; Boban', ' Shruthi; Oberoi', ' Ashreen Kaur; Cohens', ' Nashika; Noppinger', ' Ken; Kakani', ' Goutham; Hayo', ' Alyssa']

In [ ]:
people_list = people_string.split(",")

In [ ]:
for person in people_list:

    print(person.split(","))

['Wang', ' Chaojie']
[' Seelam', ' Arjun Reddy']
[' Rius', ' Jonathan']
[' Liang', ' Jinqing']
[' Chowdhury', ' Debanjan']
[' Maszkiewicz', ' Lori']
[' Negussie', ' Neftalem']
[' Steinruck', ' Michaella']
[' Phogat', ' Shreshta']
[' Fatima', ' Misha']
[' Hirabayashi', ' Scott']
[' Soroush', ' Masoud']
[' Bolz', ' Jessica']
[' Mbu Nyamsi', ' Tchuissi']
[' Dokuzoglu', ' Yuksel']
[' Gogineni', ' Shailesh']
[' Pabbisetty', ' Sai Vinay']
[' Preis', ' Liam']
[' Jyesta', ' Vishnu Priya']
[' Narne', ' Yoshita']
[' Boban', ' Shruthi']
[' Oberoi', ' Ashreen Kaur']
[' Cohens', ' Nashika']
[' Noppinger', ' Ken']
[' Kakani', ' Goutham']
[' Hayo', ' Alyssa']

In [ ]:
people_string = "Wang, Chaojie; Seelam, Arjun Reddy; Rius, Jonathan; Liang, Jinqing; Chowdhury, Debanjan; Maszkiewicz, Lori; Negussie, Neftalem; Steinruck, Michaella; Phogat, Shreshta; Fatima, Misha; Hirabayashi, Scott; Soroush, Masoud; Bolz, Jessica; Mbu Nyamsi, Tchuissi; Dokuzoglu, Yuksel; Gogineni, Shailesh; Pabbisetty, Sai Vinay; Preis, Liam; Jyesta, Vishnu Priya; Narne, Yoshita; Boban, Shruthi; Oberoi, Ashreen Kaur; Cohens, Nashika; Noppinger, Ken; Kakani, Goutham; Hayo, Alyssa"
people_list =people_string.split(";")
first_name_list=[]
for person in people_list:
  people_list =people_string.split(";")
  first_name=person.split(",")[1]
  print(first_name)

 Chaojie
 Arjun Reddy
 Jonathan
 Jinqing
 Debanjan
 Lori
 Neftalem
 Michaella
 Shreshta
 Misha
 Scott
 Masoud
 Jessica
 Tchuissi
 Yuksel
 Shailesh
 Sai Vinay
 Liam
 Vishnu Priya
 Yoshita
 Shruthi
 Ashreen Kaur
 Nashika
 Ken
 Goutham
 Alyssa

In [ ]:
test_string = "Chaojie,Arjun Reddy, Jonathan, Jinqing, Debanjan, Lori, Neftalem, Michaella, Shreshta, Misha, Scott, Masoud, Jessica, Tchuissi, Yuksel, Shailesh, Sai Vinay, Liam, Vishnu Priya, Yoshita, Shruthi, Ashreen Kaur, Nashika, Ken, Goutham, Alyssa"
  
print ("The original string is : " +  test_string) 

res = len(test_string.split()) 
 
print ("The number of words in string are : " +  str(res))

The original string is : Chaojie,Arjun Reddy, Jonathan, Jinqing, Debanjan, Lori, Neftalem, Michaella, Shreshta, Misha, Scott, Masoud, Jessica, Tchuissi, Yuksel, Shailesh, Sai Vinay, Liam, Vishnu Priya, Yoshita, Shruthi, Ashreen Kaur, Nashika, Ken, Goutham, Alyssa
The number of words in string are : 29