<a href="https://colab.research.google.com/github/jonnie763/DATA-690-WANG/blob/master/Jonathan_Rius_Assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# <1> 
# Import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import random
import math
from zipfile import ZipFile

In [ ]:
# <2> 
# Display the current workin directory using os.getcwd()
import os    
cwd = os.getcwd()      
print("Current working directory is:", cwd)

Current working directory is: /content

In [ ]:
# <3> 
# os library has a method call listdir which generates a list of files in a directory/folder.

zip_file = ZipFile("/content/CollegeScorecard_Raw_Data (2).zip")

zip_info = zip_file.infolist()

file_names  =  zip_info

file_names

[<ZipInfo filename='CollegeScorecard_Raw_Data/' filemode='drwx------' external_attr=0x4000>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2011_12_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=156340506 compress_size=17584609>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED1999_00_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=93679219 compress_size=6327662>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2006_07_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=138405206 compress_size=12150541>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2014_15_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=157501384 compress_size=18050691>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/.DS_Store' compress_type=deflate filemode='-rw-r--r--' external_attr=0x4000 file_size=6148 compress_size=230>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2003_04_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=121936542 compress_size=10499404>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED1996_97_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=65605910 compress_size=1386866>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/FieldOfStudyData1516_1617_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=50905099 compress_size=4063827>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2012_13_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=158263118 compress_size=17838130>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2005_06_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=139083725 compress_size=12744139>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2009_10_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=146249656 compress_size=15573216>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2018_19_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=64798206 compress_size=4092168>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2017_18_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=67608877 compress_size=3510637>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/Crosswalks.zip' compress_type=deflate filemode='-rw-r--r--' external_attr=0x4000 file_size=37415424 compress_size=37423667>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2000_01_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=106967021 compress_size=7168479>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2001_02_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=108761496 compress_size=8189681>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2016_17_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=154489286 compress_size=17152712>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED1997_98_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=69331289 compress_size=3536969>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED1998_99_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=80141166 compress_size=4377819>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/data.yaml' compress_type=deflate filemode='-rw-r--r--' external_attr=0x4000 file_size=488655 compress_size=38132>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2004_05_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=134896400 compress_size=11249168>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2002_03_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=119952410 compress_size=9094002>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2015_16_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=153376733 compress_size=16922836>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2013_14_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=159032113 compress_size=18445771>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2007_08_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=140844023 compress_size=13659823>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2008_09_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=140748300 compress_size=13470177>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/MERGED2010_11_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=149180897 compress_size=15579677>,
 <ZipInfo filename='CollegeScorecard_Raw_Data/FieldOfStudyData1415_1516_PP.csv' compress_type=deflate filemode='-rwx------' external_attr=0x4000 file_size=43569434 compress_size=3381088>]

In [ ]:
len(file_names)

23

In [ ]:
# <4> 
# The folder contains files that are not the yearly data files
# write code to remove the unwanted files from the list vsriable 

# <3> 
# os library has a method call listdir which generates a list of files in a directory/folder.

zip_file = ZipFile("/content/CollegeScorecard_Raw_Data (2).zip")

zip_info = zip_file.infolist()

file_names = [x.filename for x in zip_info if x.filename.startswith("CollegeScorecard_Raw_Data/MERGED")]

file_names

['CollegeScorecard_Raw_Data/MERGED2011_12_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED1999_00_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2006_07_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2014_15_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2003_04_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED1996_97_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2012_13_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2005_06_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2009_10_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2018_19_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2017_18_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2000_01_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2001_02_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2016_17_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED1997_98_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED1998_99_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2004_05_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2002_03_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2015_16_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2013_14_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2007_08_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2008_09_PP.csv',
 'CollegeScorecard_Raw_Data/MERGED2010_11_PP.csv']

In [ ]:
len(file_names)

23

In [ ]:
# <5> 
# Now that you have a clean list of the yearly files, you want to loop through them
# and read them into a dataframe one at a time. You only load six columns: 
# ["UNITID", "INSTNM", "STABBR", "REGION", "ADM_RATE", "TUITIONFEE_IN"].
# You should use "usecols" option of Pandas to avoid reading unwanted columns.
# You also want to add a new column call "YEAR" to differentiate the data frames from each other.
# The YEAR variable should be yyyy format so tht you can convert them into integer.
# if you use the format yyyy-yy (such as 1997-98 school year), you will not be able to convert them directly to integer
# if you use scatter plot, the YEAR needs to be converted to integer or float. 
# 
# You would use an empty list and append the yearly dataframes to the list.
# After all data files are loaded and appended to the list, you would use Pandas to concatenate them into a 
# new single data frame.
# Note: this exercise incorporates many techques we learned before
# list (creating an empty, append an item to the list)
# - for loop 
# - read only the needed columns from a file (using usecols option)
# - add a new column to a data frame
# - concatenate multiple dataframes into a single one
# This exercise may appear a big challenging but it worths the effort. You will learn a lot and  love it. I promise.
# <3> 
# os library has a method call listdir which generates a list of files in a directory/folder.

In [ ]:
 df = pd.read_csv(zip_file.open(file_names[1]))
 df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

      UNITID     OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0     100654  00100200  ...                       NaN            NaN
1     100663  00105200  ...                       NaN            NaN
2     100690  02503400  ...                       NaN            NaN
3     100706  00105500  ...                       NaN            NaN
4     100724  00100500  ...                       NaN            NaN
...      ...       ...  ...                       ...            ...
6604  436784  03326300  ...                       NaN            NaN
6605  436809  03361500  ...                       NaN            NaN
6606  437042  02361102  ...                       NaN            NaN
6607  437413  02253102  ...                       NaN            NaN
6608  437431  00323902  ...                       NaN            NaN

[6609 rows x 1986 columns]

In [ ]:
df =  pd.read_csv(zip_file.open(file_names[1])),pd.read_csv(zip_file.open(file_names[2]))
df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,1489,1537,1540,1542,1606,1614,1615) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(      UNITID     OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
 0     100654  00100200  ...                       NaN            NaN
 1     100663  00105200  ...                       NaN            NaN
 2     100690  02503400  ...                       NaN            NaN
 3     100706  00105500  ...                       NaN            NaN
 4     100724  00100500  ...                       NaN            NaN
 ...      ...       ...  ...                       ...            ...
 6604  436784  03326300  ...                       NaN            NaN
 6605  436809  03361500  ...                       NaN            NaN
 6606  437042  02361102  ...                       NaN            NaN
 6607  437413  02253102  ...                       NaN            NaN
 6608  437431  00323902  ...                       NaN            NaN

 [6609 rows x 1986 columns],
         UNITID     OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
 0       100636   1230800  ...                       NaN            NaN
 1       100654    100200  ...                       NaN            NaN
 2       100663    105200  ...                       NaN            NaN
 3       100690   2503400  ...                       NaN            NaN
 4       100706    105500  ...                       NaN            NaN
 ...        ...       ...  ...                       ...            ...
 6946  44098901  02568108  ...                       NaN            NaN
 6947  44098902  02568101  ...                       NaN            NaN
 6948  44098903  02568106  ...                       NaN            NaN
 6949  44098904  02568107  ...                       NaN            NaN
 6950  44098905  02568109  ...                       NaN            NaN

 [6951 rows x 1986 columns])

##LINKS

https://github.com/wcj365/python-stats-dataviz/blob/master/code-snippets/zipfile.ipynb

https://github.com/wcj365/python-stats-dataviz/blob/master/assignments/Assignment-07-wang.ipynb

https://github.com/wcj365/python-stats-dataviz/blob/master/prep_notes/session_08.md

https://www.dataquest.io/blog/pandas-concatenation-tutorial/ https://realpython.com/pandas-read-write-files/

https://realpython.com/pandas-read-write-files/

https://github.com/wcj365/python-stats-dataviz/blob/master/prep_notes/session_08.md

https://www.earthdatascience.org/courses/intro-to-earth-data-science/write-efficient-python-code/loops/data-workflows-with-loops/

https://www.programmer-books.com/wp-content/uploads/2019/04/Python-for-Data-Analysis-2nd-Edition.pdf

http://anson.ucdavis.edu/~jsharpna/DSBook/unit1/cost_of_uni.html

##PRACTICE

In [ ]:
df = pd. read_csv(FILE_PATH,file_names[1])

NameError: ignored

In [ ]:
from zipfile import ZipFile

zip_file = ZipFile('CollegeScorecard_Raw_Data (2).zip')
dfs = {text_file.filename: pd.read_csv(zip_file.open(text_file.filename[1]))
       for text_file in zip_file.infolist()
       if text_file.filename.startswith("CollegeScorecard_Raw_Data/MERGED")}
df[["UNITID", "INSTNM","CITY", "STABBR", "ZIP", "ADM_RATE", "UGDS", "TUITIONFEE_IN", "MN_EARN_WNE_P10" ]]

In [ ]:
from zipfile import ZipFile 
import pandas as pd 
# opening the zip file in READ mode 
with ZipFile("CollegeScorecard_Raw_Data (1).zip") as z:
    read = pd.read_csv(z.open(z.infolist().filename[2]))
    print(read)

In [ ]:
from zipfile import ZipFile

zip_file = ZipFile('CollegeScorecard_Raw_Data (1).zip')
dfs = {text_file.filename: pd.read_csv(zip_file.open(text_file.filename))
       for text_file in zip_file.infolist()
       if text_file.filename.startswith("CollegeScorecard_Raw_Data/MERGED")}
df.head(1)

In [ ]:
df[["UNITID", "INSTNM","CITY", "STABBR", "ZIP", "ADM_RATE", "UGDS", "TUITIONFEE_IN", "MN_EARN_WNE_P10" ]]

In [ ]:
df = pd.read_csv(zip_file.open(file_names[2]))
df[["UNITID", "INSTNM","CITY", "STABBR", "ZIP", "ADM_RATE", "UGDS", "TUITIONFEE_IN", "MN_EARN_WNE_P10" ]]

In [ ]:
import pandas as pd  
aa = pd.read_csv(file_names[1])
aa["Age"] = "24"  
aa.head()

In [ ]:
pd.read_csv(zip_file.open('/content/CollegeScorecard_Raw_Data (1).zip'))

In [ ]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
years_list=list(range(1996,2019))
years_list

[1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018]

In [ ]:
i = random.randint(0, 23)
file_name = file_names[i]
file_name

'CollegeScorecard_Raw_Data/MERGED1997_98_PP.csv'

In [ ]:
df = pd.read_csv(FILE_PATH + file_name, usecols=["INSTNM", "TUITIONFEE_IN"])
df.info()

In [ ]:
df = pd.read_csv("/content/MERGED1996_97_PP.csv", index_col=0)
df

In [ ]:
# Import pandas package  
import pandas as pd 
  
# Define a dictionary containing Students data 
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Height': [5.1, 6.2, 5.1, 5.2], 
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']} 
  
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data) 
  
# Declare a list that is to be converted into a column 
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna'] 
  
# Using 'Address' as the column name 
# and equating it to the list 
df['Address'] = address 
  
# Observe the result 
df

     Name  Height Qualification    Address
0     Jai     5.1           Msc      Delhi
1  Princi     6.2            MA  Bangalore
2  Gaurav     5.1           Msc    Chennai
3    Anuj     5.2           Msc      Patna

In [ ]:
df = pd. read_csv(FILE_PATH,file_names[1])

NameError: ignored

In [ ]:
df = pd.read_csv(FILE_PATH, file_name, usecols=["INSTNM", "TUITIONFEE_IN"])
df.info()

NameError: ignored

In [ ]:
import pandas as pd
import zipfile

zf = zipfile.ZipFile("/content/CollegeScorecard_Raw_Data (1).zip") 
df = pd.read_csv(zf.open("CollegeScorecard_Raw_Data/MERGED2011_12_PP.csv"))
df

In [ ]:
from os import listdir

# <3> 
# os library has a method call listdir which generates a list of files in a directory/folder.

In [ ]:

zip_file = ZipFile("/content/CollegeScorecard_Raw_Data (2).zip")

zip_info = zip_file.infolist()

file_names  =  zip_info

file_names 
for file_name in file_names:

    df = pd.read_csv(zip_file.open(file_names[1]))
    df[["UNITID", "INSTNM","CITY", "STABBR", "ZIP", "ADM_RATE", "UGDS", "TUITIONFEE_IN", "MN_EARN_WNE_P10" ]]